<%= render partial: 'shared/header', locals: { title: 'Statistik', color: 'indigo' } %>
<p>In diesem Durchgang hast du folgende Fragen richtig beantwortet</p>
<%= render partial: 'shared/stats', locals: { stats: @percentages } %>
