<h1><%= @stack.title %></h1>
<div>
  <select id='type-select'>
    <option value='OpenAnswer'>Offene Frage</option>
    <option value='MultipleChoice'>Multiple Choice</option>
    <option value='SingleChoice'>Single Choice</option>
    <option value='TrueFalse'>Wahr/Falsch</option>
  </select>
  <h3 id='question' contenteditable='true' data-stack-id='<%= @stack.id %>'>Frage bearbeiten</h3>
  <div>
    <button>Notizen</button>
    <button onclick="flipCard()">Umdrehen</button>
  </div>
</div>

<div id='back'>
  <p class='question'>Frage</p>
  <h3 id='answer' contenteditable='true'>Antwort bearbeiten</h3>
  <div>
    <button>Notizen</button>
    <button onclick="createFlashcard()">Fertig</button>
  </div>
</div>

<script>
  function createFlashcard() {
    const question = document.getElementById('question');
    const select = document.getElementById('type-select');
    const type = select.selectedOptions[0].value;
    const stackId = question.dataset.stackId;
    const questionText = question.textContent;
    const answer = document.getElementById('answer').textContent;

    fetch(`/stacks/${stackId}/flashcards`, {
      method: 'POST',
      body: JSON.stringify({ question: questionText, type, answer }),
      headers: new Headers({
        'Content-Type': 'application/json',
        'X-CSRF-Token': document.querySelector('meta[name="csrf-token"]').getAttribute('content')
      })
    })
    .then((res) => res.text())
    .then((html) => {
      const content = new DOMParser().parseFromString(html, 'text/html').body.firstChild;
      const backside = document.getElementById('back');
      backside.innerHTML = '';
      backside.appendChild(content);
    })
  }

  function flipCard() {
    const questionText = document.getElementById('question').textContent;
    const backsideQuestion = document.querySelector('p.question');
    backsideQuestion.textContent = questionText;
  }
</script>
