<div class='stacks-new'>
  <%= render partial: 'shared/header', locals: { title: 'Neuer Stack', color: 'orange' } %>

  <main>
    <div class='card orange stack'>
      <h3 id='new-stack-title' contenteditable='true'>Stapelnamen eingeben</h3>
      <button class='button circle white' id='create-stack-btn' onclick="createStack()">
        <%= render partial: 'shared/icons/check' %>
      </button>
    </div>
  </main>
</div>

<script>
  function createStack() {
    const title = document.getElementById('new-stack-title').textContent;

    fetch('/stacks', {
      method: 'POST',
      body: JSON.stringify({ title }),
      headers: new Headers({
        'Content-Type': 'application/json',
        'X-CSRF-Token': document.querySelector('meta[name="csrf-token"]').getAttribute('content')
      })
    })
    .then((res) => res.text())
    .then((path) => {
      window.location.replace(path);
    })
  }
</script>
