<div class='stacks-new'>
  <header>
    <div>
      <%= image_pack_tag 'logo.svg' %>
      <h1>Dycards</h1>
    </div>
    <div>
      <%= link_to stats_index_path, class: "button circle indigo" do %>
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-bar-chart-2"><line x1="18" y1="20" x2="18" y2="10"></line><line x1="12" y1="20" x2="12" y2="4"></line><line x1="6" y1="20" x2="6" y2="14"></line></svg>
      <% end %>
      <%= link_to user_path(current_user), class: "button circle indigo" do %>
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-user"><path d="M20 21v-2a4 4 0 0 0-4-4H8a4 4 0 0 0-4 4v2"></path><circle cx="12" cy="7" r="4"></circle></svg>
      <% end %>
    </div>
  </header>
  <main>
    <div class='card indigo stack'>
      <h3 id='new-stack-title' contenteditable='true'>Stapelnamen eingeben</h3>
      <button class='button circle white' id='create-stack-btn' onclick="createStack()">
        <%= render partial: 'shared/icons/check' %>
      </button>
    </div>
  </main>
</div>

<script>
  function createStack() {
    const title = document.getElementById('new-stack-title').textContent;

    fetch('/stacks', {
      method: 'POST',
      body: JSON.stringify({ title }),
      headers: new Headers({
        'Content-Type': 'application/json',
        'X-CSRF-Token': document.querySelector('meta[name="csrf-token"]').getAttribute('content')
      })
    })
    .then((res) => res.text())
    .then((path) => {
      window.location.replace(path);
    })
  }
</script>
