.errors {
  width: 100%;
  background-color: var(--red-100);
  color: var(--red-900);
  padding: 2rem 3rem;
  margin-top: 4rem;
  border-radius: .5rem;
  border-left: 4px solid var(--red-700);
  font-size: 1.6rem;
}
