:root {
  font-size: 62.5%;

  --indigo-50: #eef2ff;
  --indigo-100: #e0e7ff;
  --indigo-200: #c7d2fe;
  --indigo-300: #a5b4fc;
  --indigo-400: #818cf8;
  --indigo-500: #6366f1;
  --indigo-600: #4f46e5;
  --indigo-700: #4338ca;
  --indigo-800: #3730a3;
  --indigo-900: #312e81;

  --orange-900: #894310;
  --orange-700: #d76513;
  --orange-500: #ffa360;
  --orange-400: #fad7a0;

  --green: #82e0aa;
  --red: #f1948a;
  --blue: #aed6f1;
  --white: #fff;
  --black: #000;
}

*,
*:before,
*::after {
  box-sizing: border-box;
}

html {
  font-family: 'Inter-Regular', sans-serif;
}

body {
  font-size: 1.8rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.content {
  padding: 2.25rem 2rem 0 2rem;
  width: min(100%, 70rem);
  min-height: 100vh;
}

h1 {
  font-family: 'Inter-Bold';
  font-size: 2.5rem;
  color: var(--indigo-500);
}

h2 {
  font-family: 'Inter-Bold';
  font-size: 1.8rem;
}

h3 {
  font-family: 'Inter-Bold';
  font-size: 2.4rem;
}

label {
  font-size: 1.4rem;
  display: block;
}

.bold {
  font-family: 'Inter-Bold';
  font-size: 1.8rem;
}

.type,
#type-select {
  font-size: 1.8rem;
  letter-spacing: 1.5px;
  text-transform: uppercase;
}

.correct {
  color: var(--green);
}

.invisible {
  display: none !important;
}

input[type='submit'],
button {
  cursor: pointer;
}

ul {
  list-style-position: inside;
}

[type='checkbox'] {
  position: relative;
  -webkit-appearance: none;
  visibility: hidden;
}

[type='checkbox'] + label {
  position: absolute;
}

[type='checkbox'] + label::before {
  width: 1.8rem;
  height: 1.8rem;
  border-radius: 5px;
  border: 3px solid var(--indigo-500);
  background-color: var(--white);
  display: block;
  content: '';
  float: left;
  margin-right: 1rem;
  z-index: 5;
  position: relative;
  top: 1px;
  backface-visibility: hidden;
}

[type='checkbox']:checked + label::before {
  box-shadow: inset 0px 0px 0px 2px var(--white);
  background-color: var(--indigo-500);
  backface-visibility: hidden;
}

.position__fixed--bottom-right {
  position: fixed;
  bottom: 0;
  right: 0;
}

.indigo {
  color: var(--indigo-500);
}

.orange {
  color: var(--orange-500);
}
