<div class='imprint'>
  <%= render partial: 'shared/header', locals: { title: 'Dycards', color: 'indigo' } %>
  <h2>Impressum</h2>
  <p>Dycards wurde als MMP2a im Bachelorstudium MultiMediaTechnology an der FH Salzburg entwickelt.</p>
  <p>
    Von <a href='mailto:mhajek.mmt-b2020@fh-salzburg.ac.at'>Maximilian Hajek</a> und
    <a href='mailto:msonnberger.mmt-b2020@fh-salzburg.ac.at'>Martin Sonnberger.</a>
  </p>
  <h2>Datenschutzerklärung</h2>
  <p>Abgesehen von technisch notwendigen Logs speichert Dycards keine personenbezogenen Daten.</p>
  <h2>Feather Icons</h2>
  <p>Icons in this project are used from Feather, which is under the <a href="https://github.com/feathericons/feather/blob/master/LICENSE" rel="noreferrer">MIT License</a><br/ ><a href="https://feathericons.com/" rel="noreferrer">Feather Icons Website</a>, <a href="https://github.com/feathericons/feather" rel="noreferrer">GitHub Repo of the Feather Icons Project</a></p>
</div>
