<div class='imprint'>
  <%= render partial: 'shared/header', locals: { title: 'Dycards', color: 'indigo' } %>
  <h2>Impressum</h2>
  <p>Dycards wurde als MMP2a im Bachelorstudium MultiMediaTechnology an der FH Salzburg entwickelt.</p>
  <p>
    Von <a href='mailto:mhajek.mmt-b2020@fh-salzburg.ac.at'>Maximilian Hajek</a> und
    <a href='mailto:msonnberger.mmt-b2020@fh-salzburg.ac.at'>Martin Sonnberger.</a>
  </p>
  <h2>Datenschutzerklärung</h2>
  <p>Abgesehen von technisch notwendigen Logs speichert Dycards keine personenbezogenen Daten.</p>
</div>
